/*-- scss:defaults --*/

$body-bg: #1c1c1c;
$body-color: #d4d4d4;

$link-color: #4dc8de;
$link-hover-color: #ff6b57;
$primary: $link-color;

$font-family-sans: Verdana, Helvetica, Arial, sans-serif;
$font-family-serif: "Times New Roman", Times, serif;
$font-family-base: $font-family-sans;
$headings-font-family: $font-family-serif;
$font-family-monospace: "Courier New", Courier, monospace;

$border-color: #3a3a3a;

$navbar-bg: $body-bg;
$navbar-fg: $body-color;
$navbar-hl: $link-color;

$code-bg: #262626;
$pre-bg: #262626;

/*-- scss:rules --*/

.navbar-title,
.sidebar-title {
  font-family: $font-family-serif;
}

::selection {
  background: #01414d;
  color: #ffffff;
}

#quarto-sidebar,
.sidebar {
  background-color: $body-bg;
}

.sidebar-item-container .active {
  color: $link-color !important;
}

code {
  color: #9ccb74;
}

blockquote {
  font-family: $font-family-serif;
  color: #a8a8a8;
}

.callout-important {
  border-left-color: $link-hover-color !important;
}
.callout-important .callout-icon::before {
  color: $link-hover-color !important;
}
