/*-- scss:defaults --*/

$body-bg: #ffffff;
$body-color: #545454;

$link-color: #006a80;
$link-hover-color: #a8001c;
$primary: $link-color;

$font-family-sans: Verdana, Helvetica, Arial, sans-serif;
$font-family-serif: "Times New Roman", Times, serif;
$font-family-base: $font-family-sans;
$headings-font-family: $font-family-serif;
$font-family-monospace: "Courier New", Courier, monospace;

$border-color: #cccccc;

$navbar-bg: $body-bg;
$navbar-fg: $body-color;
$navbar-hl: $link-color;

$code-bg: #f7f7f7;
$pre-bg: #f7f7f7;

/*-- scss:rules --*/

.navbar-title,
.sidebar-title {
  font-family: $font-family-serif;
}

::selection {
  background: #d6eef1;
  color: #000000;
}

#quarto-sidebar,
.sidebar {
  background-color: $body-bg;
}

.sidebar-item-container .active {
  color: $link-color !important;
}

code {
  color: #7ca653;
}

blockquote {
  font-family: $font-family-serif;
  color: #a8a8a8;
}

.callout-important {
  border-left-color: $link-hover-color !important;
}
.callout-important .callout-icon::before {
  color: $link-hover-color !important;
}
